/* Global */

* {
	font-family: 'Symbols Nerd Font',  'Monaspace Neon';
	border: none;
	font-size: 17px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar, #workspaces, #custom-music, #traygroup, #clock, #window {
	border-radius: 8px;
	padding: 3px 5px 3px 5px;
}

#traygroup, #custom-music, #window, #workspaces {
	background-color: #1e1e2e;
	padding-left: 5px;
	padding-right: 5px;
	color: #b4befe;
}

#custom-music, #clock, #window {
	padding-left: 10px;
	padding-right: 10px;
}

#clock {
	background-color: #1e1e2e;
	color: #b4befe;
}

#workspaces button {
	color: #b4befe;
}

#workspaces button.active {
	color: #cba6f7;
	font-weight: bolder;
}

#tray {
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	color: #b4befe;
	background-color: #1e1e2e;
}

#tray menu {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #b4befe;
	background-color: #1e1e2e;
}

#network, #bluetooth, #pulseaudio {
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/* Classes */

.invisible {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: transparent;
}

window#waybar.empty #window {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: transparent;
}
